@import '~normalize-scss/sass/normalize';
@import '_variables';
@include normalize();
.minibar{
	background-color:$darkerblue;
}
.minibar__categories{
	display: flex;
}
.minibar__contact{
	display: flex;
	list-style-type: none;
}
.minibar__socials{
	display: flex;
	list-style-type: none;
}