@import '../node_modules/normalize-scss/sass/normalize';
@import '_variables';
@import '_mixins';
@include normalize();

body{
	font-family: $basefont;
}

.minibar{
	display: none;
	background-color:$darker-blue;
}
.minibar__categories{
	display: flex;
}
.minibar__contact{
	display: flex;
	list-style-type: nonwe;
}
.minibar__socials{
	display: flex;
	list-style-type: none;
}
.header{
}
.header__list {
    flex-direction: column;		
}
.header__open-menu {
    position: absolute;
    right: 20px;
    top: 15px;
    height: 32px;
    width: 32px;
    background: url("../images/nav-icon.png");
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0;
    color: transparent;
}
.header__nav {
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    align-self: flex-start;

    /* align with logo */
    margin-left: 50%;
    transform: translateX(-38px);
}
.header__open-menu[aria-expanded="true"] + .header__nav {
    height: 210px;
}
.header__open-menu[aria-expanded="false"] + .header__nav {
    height: 0;
    visibility: hidden;
}
.header__logo{
    font-weight: 400;
    color: white;
    font-size: 22px;
    display: block;
    margin:0;
}
.header__list{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.header__list__item{
    display: inline-block;
}
.header__list__link{
    color: $font-color;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.3s;
    display: inline-block;
    padding: 5px 0;
	&:hover{
	.header__list__link{
		color:$reddish;	
	}
}
}
.home{
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
	background-size: cover;
}
.home__content{
	padding:60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.home__title{
	margin:0;
	font-weight: 700;
	font-size:56px;
	text-align: center;
	text-transform: uppercase;
	color:white;
}
.home__title__blue{
	color:$brighter-blue;
}
.home__description{
	font-size: 20px;
	line-height: 60px;
	color:white;
	text-align: center;
}
.home__link{
	width:200px;
	height:60px;
	background-color: $brighter-blue;
	@include border-radius(2px);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color:white;
	text-transform: uppercase;
}
.home__icon{
	fill:white;
	margin-left: 10px;
}
.services__container{
	display: flex;
	flex-direction: column;
}
.services__list{
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin:0;
	padding:0;
}
.services__item{
	width:100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.services__color{
	display: none;
}
.brighter{
	@extend .services__item;
	background-color:$brighter-blue;
}
.darker{
	@extend .services__item;
	background-color:$darker-blue;
}
.services__item__icon{
	height: 40px;
}
.services__item__title{
	color:white;
	text-transform: uppercase;
	text-align: center;
	font-size:14px;
	font-weight: 400;
	max-width: 120px;
}
.about{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding:0;
	max-width: 1500px;
	width:100%;
	list-style-type: none;
	margin:100px 0;
}
.about__item{
	max-width: 320px;
	width:100%;
	margin:0 60px 0 100px;
	position: relative;

&:before{
	position: absolute;
	content:'';
	width:40px;
	height: 40px;
	left:-50px;
	top:15px;
	}

}
.about__item__title{
	text-transform: uppercase;	
	color:$font-color;
}

.writing::before{
	background-image: url('../images/writing.png');
}
.print::before{
	background-image: url('../images/design.png');
}
.media::before{
	background-image: url('../images/media.png');
}
.web::before{
	background-image: url('../images/pixel.png');
}
.frontend::before{
	background-image: url('../images/frontend.png');
}
.design::before{
	background-image: url('../images/graphic.png');
}
.audio::before{
	background-image: url('../images/audio.png');
}
.speed::before{
	background-image: url('../images/speed.png');
}
.support::before{
	background-image: url('../images/support.png');
}
.mouse{
	width:100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background-mouse.jpg');
	background-size: contain;
	background-size:200% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mouse__link{
	margin:100px;
}
.js-tabcontent[aria-hidden=true] { display: none; }

.portfolio__content{
	padding-top:100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin:10px;
}
.portfolio__title{
	text-transform: uppercase;
	color:$font-color;
	margin:0;
	padding:0;
}
.portfolio__description{
	color:$font-color2;
	font-size: 16px;
	position: relative;
	padding:15px;
	text-align: center;
	&::before{
		position:absolute;
		content:'';
		left:45%;
		width:10%;
		top:100%;
		height: 3px;
		background-color: $brighter-blue;
	}
}
.portfolio__list{
	display: flex;
	list-style-type: none;
	padding:0;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.portfolio__list__item{
	display: block;
	padding:10px;
	color:$font-color;
	text-transform: uppercase;
	box-sizing: border-box;
	font-weight: bold;
	border-radius: 3px;
	transition: 0.2s;
	&:hover{
		background-color:$brighter-blue;
		color:white;
		box-shadow: 0 2px 5px 2px;
	}
}
.portfolio__category{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding:0;
	margin:0;

}
.portfolio__item{
	margin:10px;
	position: relative;
	display: block;
	&:hover{
		.portfolio__item__content{
			opacity:1;
		}
	}
}
.portfolio__item__photo{
	width: 260px;
	height: 240px;
	border:7px solid white;
	box-shadow: 0px 2px 5px 0px rgba(black, 0.3);
}
.portfolio__item__content{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 260px;
	height: 240px;
	top:7px;
	left:7px;
	opacity:0;
	transition: 0.2s;
	background-color: rgba($brighter-blue, 0.7);
}
.portfolio__item__list{
	list-style-type: none;
	padding:0;
	margin:0;
	display: flex;
}
.portfolio__item__link{
	margin:0 2px;
}
.portfolio__item__title{
	margin:10px 0;
	font-weight: normal;
	color:white;
	font-size: 20px;
	text-transform: uppercase;
}
.portfolio__item__description{
	margin:0;
	color: white;
	font-size:14px;
}
@media screen and (min-width: 825px) {
	.minibar{
		display:block;
	}
	.minibar__contact{
		padding:0;
		list-style-type: none;
	}
	.minibar__categories{
		margin:0 auto;
		display: flex;
		max-width: 1200px;
		justify-content: space-between;
	}
	.minibar__contact__item{
		font-size: 14px;
		color:white;
		margin:0 10px;
	}
	.minibar__contact__icon{
		width:14px;
		height: 14px;
		fill:white;	
		margin:0 3px;
	}	
	.minibar__socials__item{
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0 5px;
	width:20px;
	height:20px;
	border-radius: 50%;

	&:hover{
		background: white;
		.minibar__socials__icon{
			background: rgba(0,0,0, 0.0);
			fill:$reddish;
			}
		}
	}
	.minibar__socials__icon{
		width:20px;
		height: 20px;
		background: $darker-blue;
		fill:white;
		transition: 0.2s;	
	}	

	.header{
		display: flex;
		justify-content: center;
	}
    .header__container {
    	align-items: center;
    	justify-content: space-between;
    	display: flex;
    	max-width: 1200px;
    	width:100%;
        flex-direction: row;
        padding: 0 20px;
    }
    .header__logo{
    	display: flex;
    	max-width: 300px;
    }
    .header__nav{
    	display: flex;
    }
    .header__list {
        flex-direction: row;
        margin:0;
    }
    .header__list__item{
    	margin:0 5px;
    	padding:30px 0;
    	transition: 0.2s;
    	@include border-bottom(2px, solid, rgba(0,0,0, 0.0)); 
    }
    .header__list__item:hover{
    	@include border-bottom(2px, solid, $reddish); 
    }
    .header__open-menu {
        display: none;
    }
    .header__open-menu[aria-expanded="true"] + .header__nav,
    .header__open-menu[aria-expanded="false"] + .header__nav {
        visibility: visible;
        height:auto;
    }
    .header__list__link {
        padding: 5px;
    }
    .header__nav {
        align-self: initial;
        margin-left: 0;
        transform: none;
    }
    .home{
    	min-height: 80vh;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }
    .services__container{
    	flex-direction: row;
    	align-items: center;
    	justify-content: center;
    }
    .services__list{
    	flex-direction: row;
    	max-width: 1200px;
    	width:100%;
    }
    .services__item{
    	flex:4;
    }
    .services__color{
    	flex:1;
    	display: flex;
    }
    .mouse{
    	height:500px;
    	background-size: cover;
    }
    .about__item{
    	margin:0 60px;
    }
    .portfolio__list{
	flex-direction: row;
	list-style-type: none;
	}
	.portfolio__list__item{
		margin:0 10px;
	}
	.portfolio__category{
		max-width: 1200px;
		width:100%;
	}
	.portfolio__item__photo{
		width:355px;
		height:315px;
	}
	.portfolio__item__content{
		width:355px;
		height:315px;
	}
}